<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/home']"  routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/albums']" routerLinkActive="active">Albums</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/artists']" routerLinkActive="active">Artists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/playlists']" routerLinkActive="active">Playlists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/podcasts']"  routerLinkActive="active">Podcasts</a>
    </li>
    
  </ul>