<nav class="navbar nav-bg ">
    <div class="container-fluid">
      <a class="navbar-brand text-black" href="#">
        <img src="assets/imgs/spotifyLogo.webp" alt="" class="logo-spotify">
      </a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button type="button" class="btn btn-primary">Test Button</button>
    </div>
 </nav>